<main class="form-signin" style="width: 100%; max-width: 500px; padding: 15px; margin: auto; text-align: center;">
  <%= form_with(model: profile) do |form| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
          <% profile.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control", placeholder: "農園名・店舗名" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control", placeholder: "農園名・店舗名の紹介文" %>
    </div>

    <div class="mb-3">
      <%= form.label :country, class: "form-label" %>
      <%= form.text_field :country, class: "form-control", placeholder: "国名" %>
    </div>

    <div class="mb-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control", placeholder: "農園名・店舗名の住所" %>
    </div>

    <div class="mb-3">
      <%= form.label :image, class: "form-label" %>
      <%= form.file_field :image, class: "form-control" if @profile.image.present?%>
    </div>

    <div class="actions">
      <%= form.submit "保存" %>
    </div>
  <% end %>
</main>

