<br>
  <div style="text-align: center;">
    <% if @profile.image.url %>
      <%= image_tag @profile.image.url, style: "margin-bottom: 20px; width: 1300px; height: 700px;" %>
    <% end %>
  </div>

  <div style="display: flex; align-items: flex-start;">
    <div style="flex: 1; padding-right: 10px; padding-left: 85px;">
      <div id="map" style="height: 400px; width: 600px;"></div>
    </div>

    <div style="flex: 1; padding-left: 10px;">
      <p style="font-size: 30px; margin-bottom: 10px;">
        <strong>Name:</strong>
        <%= @profile.name %>
      </p>

      <p style="font-size: 20px; margin-bottom: 10px;">
        <strong>Owner Name:</strong>
        <%= @user.name %>
      </p>

      <p style="font-size: 16px; margin-bottom: 10px;">
        <strong>Country:</strong>
        <%= @profile.country %>
      </p>

      <p style="font-size: 16px; margin-bottom: 10px;">
        <strong>Address:</strong>
        <%= @profile.address %>
      </p>

      <p style="font-size: 16px; margin-bottom: 10px;">
        <strong>Description:</strong><br/>
        <% if @profile.description %>
          <% @profile.description.scan(/.{1,50}/).each do |description_part| %>
            <%= description_part %><br/>
          <% end %>
        <% end %>

      </p>
      
<%# QRコード表示 　ここから%>
  <button onclick="showQRCode()">QRコードを表示する</button>

<%# 別窓中央表示 %>
<div id="qr-code-wrapper" style="display: none;">
  <div id="qr-code" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 450px; height: 450px;">
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
      <%= render_qr_code(profile_url(@profile), size: 200) %>
    </div>
    <button onclick="closeQRCode()" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">閉じる</button>
  </div>
</div>

<%# 別窓中央表示/javascript %>
<script>
  function showQRCode() {
    var qrCodeWrapper = document.getElementById("qr-code-wrapper");
    var overlay = document.getElementById("overlay");

    qrCodeWrapper.style.display = "block";
    overlay.style.display = "block";
  }

  function closeQRCode() {
    var qrCodeWrapper = document.getElementById("qr-code-wrapper");
    var overlay = document.getElementById("overlay");

    qrCodeWrapper.style.display = "none";
    overlay.style.display = "none";
  }
</script>

<%# ここまで %>

      <p>
        <div style="text-align: right; margin-right: 80px;">
          <% if user_signed_in? && current_user.id == @profile.user_id %>
            <%= link_to '', edit_profile_path(@profile), class: "fa-solid fa-pen-fancy fa-2x", title: "プロフィール編集"  %>
            <td><%= link_to '', blogs_path, class:"fa-regular fa-share-from-square fa-flip-horizontal fa-2x", title: "blog一覧へ" %><td>
          <% end %>  
        </div>
      </p>
    </div>
  </div>

<%# <---map表示---> %>
  <script type="text/javascript">
    function initMap() {
      var test = { lat: <%= @profile.latitude %>, lng: <%= @profile.longitude %> };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var contentString = '住所：<%= @profile.address %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var marker = new google.maps.Marker({
        position: test,
        map: map,
        title: contentString
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>

<br>
  <div class="text-center mt-4">
      <h2 class="app-name" style="font-family: 'Playfair Display', serif; font-size: 50px; font-weight: bold;">Previous Blogs</h2>
  </div>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <% @blogs.each do |blog| %>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card" style="width: 18rem;">
                <a href="/blogs/<%= blog.id %>" class="card-body text-dark">
                  <h5><%= blog.user.profile.name %></h5>
                    <div class="card-body">
                    <p><%= image_tag blog.image.url, class:"image-body w-100" %></p>
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= truncate(blog.content, length: 10) %></p>
                  </div>
                </a>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    </div>
  
