<main class="form-signin" style="width: 100%; max-width: 500px; padding: 15px; margin: auto;">
  <%= form_with(model: blog) do |form| %>
    <div class="set_center_outer">
      <% if blog.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
    
          <ul>
            <% blog.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control", placeholder: "ブログ　タイトル" %>
      </div>
    
      <div class="form-group">
        <%= form.label :content %>
        <%= form.text_area :content, class: "form-control", placeholder: "ブログ　内容"%>
      </div>
    
      <div class="actions text-center">
        <p><%= form.submit %></p>
        <p>
          <%= link_to 'Back', blogs_path, style: 'margin-right: 10px;' %>
          <% if blog.user == current_user %>
          <td><%= link_to 'Show', @blog, style: 'margin-right: 10px;' %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, style: 'margin-right: 10px;' %></td>
          <% end%>
        </p>
      </div>
    </div>
  <% end %>
</main>
