<br>
<br>
<% if current_user.try(:admin?) %>
  <h1>Blogs_admin</h1>
  <% else %>
    <% if params[:role] == "Coffee_farm" %>
      <h1>コーヒー農園ブログ</h1>
    <% elsif params[:role] == "Barista" %>
      <h1>バリスタブログ</h1>
    <% elsif %>
      <h1>ブログ一覧</h1>
  <% end %>
<% end %>

<br>
<br>

<table>
  <tbody>
    <div class="container">
      <div class="row">
        <% @blogs.each do |blog| %>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card-container">
              <div class="card" style="width: 18rem;">
                <a href="/blogs/<%= blog.id %>" class="card-body text-dark">
                <h5><%= blog.user.profile.name %></h5>
                  <div class="card-body">
                    <p><%= image_tag blog.image.url, class:"w-100" %></p>
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= truncate(blog.content, length: 10) %></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  </tbody>
</table>


