<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>


  <tbody>
    <% @blogs.each do |blog| %>
    <div class="card-group" style="width:18rem">
    <div class="card">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <%= link_to blog, class: "card-body text-dark" do %>
          <p><%= l blog.created_at, format: :short %></p>
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text"><%= blog.content %></p>
          <% end %>
        </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>