<div class="col-md-8">
    <h3>検索結果</h3>
    <p>
      検索キーワード: "<%= @keyword %>"  <br>
      一致した記事: <%= @blogs.count  %>
    </p>
    <%# <%= paginate @blogs %>
    <ul class="blogs">
      <% @blogs.each do |blog| %>
        <div><%= blog.title %></div>
        <div><%= blog.content %></div>
      <% end %>
    </ul>
    <%# <%= paginate @blogs %>
  </div>