<div class="search-results" style="margin-top: 40px;">
<h1>ブックマーク 一覧</h1>
  <br>
    <div class="container">
      <div class="row">
        <% if @favorite_list.present? %>
          <% @favorite_list.each do |blog| %>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card" style="width: 18rem;">
                <a href="/blogs/<%= blog.id %>" class="card-body text-dark">
                  <h5><%= blog.user.profile.name %></h5>
                    <div class="card-body">
                    <p><%= image_tag blog.image.url, class:"image-body w-100" %></p>
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= truncate(blog.content, length: 10) %></p>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
